
  .option11{
    /* position: absolute; */
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.1s;
  }
  .account:hover{
    /* opacity: 5%; */
    transition: 0.1s;
    opacity: 60%;
    cursor: pointer;
    /* font-size: large; */
   
  }
  .dropbtn {
    /* background-color: #4CAF50; */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 300ms;
    cursor: pointer;
  }
  
  .dropdown {
    /* padding: 25px; */
    margin-top: 7px;
    position: relative;
    display: inline-block;
    transition: 300ms;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 300ms;
  }
  
  .dropdown-content .a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 300ms;
    /* border-bottom: 1px solid black; */
  }
  
  .dropdown-content .a:hover {background-color: #f1f1f1;transition: 300ms;}
  
  .dropdown:hover .dropdown-content {
    transition: 30s;
    display:block;
  }
  
  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
  }
  