/* .cart-item {
    width: 100%;
    display: flex;
    height: 80px;
    margin-bottom: 15px;
  }
.name {
    font-size: 16px;
  }
  .img {
    width: 30%;
  }
  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
  } */
  .cart-item{
    min-height: 30%;
    /* overflow: hidden; */
    margin: 5px;
    height: 30%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* border: 1px solid black; */


  }
  .img{
    min-height: 30%;
    background-size:cover;

    grid-column-start:1 ;
    grid-column-end:3 ;

    /* border: 1px solid black; */
    height: 100%;
    width: auto;
  }
  .item-details{
    /* border: 1px solid black; */
    grid-column-start: 3;
    grid-column-end: 7;
    display: grid;
    grid-template-rows: repeat(2,1fr);
  }
  .name{
    margin:auto;
  

  }
  .quantity-price{
    margin: auto;
  }